body{
    margin: 0;
}

img{
    width: 300px;
    cursor: pointer;
}

.ejercicios{
    position: relative;
    background: url("../image/sensei.png") 0 / cover fixed;
    width: 100%;
    height: 1000px;
}

/* Efecto Parallax (con fondo estático) */
.content{
    position: absolute;
    border-radius: 10px;
    background-color: hsla(120, 10%, 100%, 0.6);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    top: 15%; bottom: 15%; left: 10%; right: 10%;
    filter:blur(2px);
}

.textoParallax{
    position: absolute;
    top: 40%; bottom: 40%; left: 40%; right: 40%;
    text-align: center;
}


/* Efecto tipo polaroid para fotografías*/
.polaroid{
    background-color: white;
    /*width: 300px;*/
    padding: 10px;
    margin: auto;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: block;
}
.textoPolaroid{
    text-align: center;
    
}

.polaroid img{
    /*opacity: 0.4;*/
    /*filter:blur(5px);*/
    filter:grayscale(1)
}

.polaroid img:hover{
    /*opacity: 1;*/
    /*filter:blur(0);*/
    filter: grayscale(0);

}

.modal{
    display: none;
    position: fixed;
    padding-top: 200px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);

}
.modal-content{
    margin: auto;
    display: block;
    width: 95%;
    max-width: 700px;
    animation: zoom 0.5s;

}
.cerrar{
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    color:white;
    cursor: pointer;
}

@keyframes zoom {
    from{transform: scale(0);}
    to{transform: scale(1);}
}


/* NavBar*/
*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: auto;
    padding-bottom: 75px;
}
nav{
    background-color: gray;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
}
nav ul{
    margin-right: 50px;
}
nav ul li{
    margin: 20px;
    float: right;
    display: inline;
}
li a{
    font-size: 1.5em;
    color: black;
    text-decoration: none;
}
.logo_space{
    float: left;
    padding: 1em;
    width: 30%;
}
.logo{
    font-size: 1.5em;
    text-decoration: none;
}
.iconNav{
    cursor: pointer;
    font-size: 1.5em;
    display: block;
    margin: 20px;
    float: right;
}
.show{
    display: block;
    float: none;
}
/* NavBar fin*/


.practicaFlexbox{
    display: flex;
    margin: 5px;
    background-color: #f5f5f5;
    justify-content: flex-end;
    /*flex-wrap: nowrap;
    flex-direction: row;*/
    flex-flow: row wrap;
    justify-content: center; /*eje principal*/
    
    height: 600px;
    align-items:center; /*eje cruzado*/
}

.practicaFlexbox button{
    border:0;
    font-size: 1em;
    outline:none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    /*flex-grow: 1;*/
    /*flex-basis: 200px;*/
    /*flex: 1 2 500px;*/
    min-width: 600px;
}
.practicaFlexbox p{
    background-color: #222;
    height: 100px;
}
.practicaFlexbox button:nth-child(1){
    background-color: crimson;
    flex-grow: 2;
}
.practicaFlexbox button:nth-child(2){
    background-color: orange;
    flex-grow: 3;
}
.practicaFlexbox button:nth-child(3){
    background-color: darkcyan;
    flex-shrink: 4;
    align-self: flex-start; /*sobreescribe align-item*/
}



.practica2Flex{
    background-color: aqua;
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circleButton{
    width: 50px;
    height: 50px;
     background-color: white;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}


/*******************/
/* práctica de GRID*/
/*******************/
.practicaGrid{
    display: grid;
    height: 300px;
    width: 500px;
    background-color: blue;
    /*grid-template-columns: 200px 300px;*/
    /*grid-template-rows: 200px 100px;*/
    /*grid-template: 200px 100px / [inicia-header] 200px  300px [final-header];*/
    /*grid-template-columns: [inicia-header] repeat(12, 8.66%) [final-header];*/
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "nav nav nav nav nav nsav asd"
                        "body body body body body body body"
                        "footer footer footer footer footer footer footer";

    align-items: center;
}
.red{
    background-color: red;
    /*grid-column-start: 1;
    grid-column-end: 3;*/
    /*grid-column: inicia-header / 2;
    grid-row: 1   ;*/

    /*como están encimados, se manda al frente*/
    /*position: relative;
    z-index: 1 ;*/

    /*grid-area: 2 / 4 / 3 / 7;*/
    grid-area: footer;
    align-self: stretch;
}
.yellow{
    background-color: yellow;
    /*grid-column: 2 / 3;
    grid-row: 1   ;*/
    grid-area: nav;
    width: 300px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    
}

@media screen and (max-width: 480px){ /* iphone 4 */
    body{
        background-color: red;
    }
    div.polaroid{
        margin: 5px 0px 25px 0px;
    }
    img{
        width: 100%;
    }
    nav ul li{
        display: none;
    }
    .logo_space{
        width: 70%;
    }
}


@media screen and (min-width: 481px) and (max-width:760px){ /* phablets o tablets */
    body{
        background-color: green;
    }
    div.polaroid{
        margin: 5px 5px 25px 5px;
    }
    img{
        width: 100%;
    }
    nav ul li{
        display: none;
    }    
    .logo_space{
        width: 80%;
    }
}

@media screen and (min-width: 761px){ /* pantallas grandes */
    body{
        background-color: blue;
    }
    div.polaroid{
        display: inline-block;
        margin-left: 6%;
    }
    .iconNav{
        display: none;
    }

}
